name: Deploy Insight Flow to EC2

on:
  push:
    branches:
      - realease

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:

      # 1. Baixar o código do repositório
      - name: Checkout repository
        uses: actions/checkout@v4


      # 2. Configurar Java 21
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21


      # 3. Build do projeto (SEM TESTES)
      - name: Build project with Maven
        run: mvn clean package -Dmaven.test.skip=true


      # 4. Copiar o JAR para EC2
      - name: Copy JAR to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          source: target/*.jar
          target: /home/ubuntu/


      # 5. Parar app antiga e iniciar nova
      - name: Restart application on EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |

            echo "Parando aplicação antiga..."
            pkill -f '.jar' || true

            echo "Iniciando nova aplicação..."
            nohup java -jar /home/ubuntu/target/*.jar > /home/ubuntu/app.log 2>&1 &

            echo "Deploy finalizado com sucesso!"
